<mat-nav-list>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">
        <mat-icon>show_chart</mat-icon>  
        dashboard
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/concession">
      <mat-icon></mat-icon>  
        concession
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/production">
      <mat-icon>construction</mat-icon>  

        production
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/well">
      <mat-icon></mat-icon>  

        well
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/product">
      <mat-icon>local_gas_station</mat-icon>  

        product
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/location">
      <mat-icon>place</mat-icon>  

        location
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/shareholders">
      <mat-icon>business_center</mat-icon>  

        shareholders
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/reserve">
      <mat-icon></mat-icon>  

        reserve
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/part">
      <mat-icon>person</mat-icon>  

        part
    </a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/user">
      <mat-icon>person</mat-icon>  

        user
    </a>

</mat-nav-list>
